<%= form_with(model: topic) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :subtopic %>
    <%= form.text_field :subtopic,class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link ,class:'form-control' %>
  </div>

  <div class="actions mt-4">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
