<%= form_for [@topic, @post] do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class="field">
    <%= form.label :Tags %>
    <%= form.text_field :tag_name %>
  </div>

  <div class="field">
    <%= form.label :topic_id,class:"invisible" %>
    <%= form.text_field :topic_id, id:"disabledTextInput" ,value:@topic.id,  class:"invisible" %>
  </div>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
