<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'Create New Post', new_topic_post_path(@topic), class:'btn btn-primary' %>
  
    <% @posts.each do |post| %>
     <div class="card p-3 my-2 shadow"> 
     <p>
     <strong>Name:</strong>
        <%= post.name %>
     </p>
     <p>
     <strong>Description:</strong>
       <%= post.desc %>
     </p>
      <p>
      <strong>Topic :</strong>
       <%= post.topic_id %>
      </p> 
      <p>
      <div>
       <%= link_to 'Show', topic_post_url(@topic, post.id), class:'btn btn-primary'%>
       <%= link_to 'Edit', edit_topic_post_url(@topic, post.id), class:'btn btn-primary' %>
       <%= link_to 'Destroy', topic_post_path(@topic, post.id), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %>
      </div>
      </div>
    <% end %>
 

<br>


