<p id="notice"><%= notice %></p>
<div class="card p-3 shadow">
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic_id %>
</p>
<p><strong>Tags: </strong></p>
<% @tags.each do |tag| %>
<p>
<%= tag.tag_name %>
</p>
<% end %>
<div>
<%= link_to 'Edit', edit_topic_post_url(@topic, @post), class:'btn btn-info' %> |
<%= link_to 'Back', topic_posts_path(@topic), class:'btn btn-primary' %>
</div>
</div>
<br/><br/>

<h1>Comments</h1><br/>
<%= link_to 'Add new Comment', new_topic_post_comment_url(@topic, @post, @comment), class:'btn btn-primary' %> 
<br/><br/>

<% @comments.each do |comment| %>
  <p><%= comment.comment %></p>
  
  <% end %>


